<!DOCTYPE html>
<html>
<head lang="en">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>LightMCalc</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="css/MainPage.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
</head>

<body onload="mainPageController.defaultInstance().show()">
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-brand">
				<div id="page_title">
					Določitev M in C razreda razsvetljave
				</div>
			</div>
		</div>
	</div>
</nav>

<div id="busyIndicator">
	<div class="table">
		<div class="table-cell center-middle">
			<div class="loader">
				Priprava strani, prosimo počakajte... <span></span>
			</div>
		</div>
	</div>
</div>

<div id="app">
	<div class="section-title">
		<b>Vnos vhodnih parametrov</b>
	</div>

	<div class="form-group">
		<div class="row vertical-align">
			<div class="col-xs-2">
				Število pasov
			</div>
			<div class="col-xs-10">
				<select class="form-control" v-model="roadCategory" required>
					<option value="0">Dvopasovna cesta</option>
					<option value="1">Avtocesta oz. večpasovna cesta</option>
				</select>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="row vertical-align">
			<div class="col-xs-2">
				Omejitev hitrosti
			</div>
			<div class="col-xs-8">
				<select class="form-control" v-model="speedLimit" required>
					<option value="0">Zelo visoka (v &ge; 100 km/h)</option>
					<option value="1">Visoka (70 < v < 100 km/h)</option>
					<option value="2">Zmerna (40 < v < 70 km/h</option>
					<option value="3">Nizka (v &le; 40 km/h)</option>
				</select>
			</div>
			<div class="col-xs-1 center-middle">
				<span> VWS (M)</span><br>
				<b>{{ mSpeedLimitScore }}</b>
			</div>
			<div class="col-xs-1 center-middle">
				<span> VWS (C)</span><br>
				<b>{{ cSpeedLimitScore }}</b>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="row vertical-align">
			<div class="col-xs-2">
				Gostota prometa
			</div>
			<div class="col-xs-8">
				<select class="form-control" v-model="trafficDensity" required>
					<option value="0">{{ trafficDensityHighOptionLabel }}</option>
					<option value="1">{{ trafficDensityMediumOptionLabel }}</option>
					<option value="2">{{ trafficDensityLowOptionLabel }}</option>
				</select>
			</div>
			<div class="col-xs-1 center-middle">
				<b>{{ mTrafficDensityScore }}</b>
			</div>
			<div class="col-xs-1 center-middle">
				<b>{{ cTrafficDensityScore }}</b>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="row vertical-align">
			<div class="col-xs-2">
				Sestava prometa
			</div>
			<div class="col-xs-8">
				<select class="form-control" v-model="trafficConstitution" required>
					<option value="0">Mešana z visoko vsebino nemotornih vozil</option>
					<option value="1">Mešana</option>
					<option value="2">Samo motorna</option>
				</select>
			</div>
			<div class="col-xs-1 center-middle">
				<b>{{ mTrafficConstitutionScore }}</b>
			</div>
			<div class="col-xs-1 center-middle">
				<b>{{ cTrafficConstitutionScore }}</b>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="row vertical-align">
			<div class="col-xs-2">
				Ločitev vozišča
			</div>
			<div class="col-xs-8">
				<input id="cb1" type="checkbox" name="fancy-checkbox-default" autocomplete="off" v-model="laneSep">

				<div class="btn-group">
					<label for="cb1" class="btn btn-default">
						<span class="glyphicon glyphicon-ok"></span>
						<span> </span>
					</label>
				</div>
			</div>
			<div class="col-xs-1 center-middle">
				<b>{{ mLaneSepScore }}</b>
			</div>
			<div class="col-xs-1 center-middle">
				<b>{{ cLaneSepScore }}</b>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="row vertical-align">
			<div class="col-xs-2">
				Gostota prehodov čez cesto
			</div>
			<div class="col-xs-8">
				<select class="form-control" v-model="crossingDensity" required>
					<option value="0">Visoka (> 3 križišča / km in < 3 km med mostovi)</option>
					<option value="1">Zmerna (&le; 3 križišča / km in &ge; 3 km med mostovi)</option>
				</select>
			</div>
			<div class="col-xs-1 center-middle">
				<b>{{ mCrossingDensityScore }}</b>
			</div>
			<div class="col-xs-1 center-middle">
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="row vertical-align">
			<div class="col-xs-2">
				Vsebuje parkirana vozila
			</div>
			<div class="col-xs-8">
				<input id="cb2" type="checkbox" name="fancy-checkbox-default" autocomplete="off"
				       v-model="hasParkedVehicles">

				<div class="btn-group">
					<label for="cb2" class="btn btn-default">
						<span class="glyphicon glyphicon-ok"></span>
						<span> </span>
					</label>
				</div>
			</div>
			<div class="col-xs-1 center-middle">
				<b>{{ mHasParkedVehiclesScore }}</b>
			</div>
			<div class="col-xs-1 center-middle">
				<b>{{ cHasParkedVehiclesScore }}</b>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="row vertical-align">
			<div class="col-xs-2">
				Ambientna svetilnost
			</div>
			<div class="col-xs-8">
				<select class="form-control" v-model="ambientLight" required>
					<option value="0">Visoka</option>
					<option value="1">Zmerna</option>
					<option value="2">Nizka</option>
				</select>
			</div>
			<div class="col-xs-1 center-middle">
				<b>{{ mAmbientLightScore }}</b>
			</div>
			<div class="col-xs-1 center-middle">
				<b>{{ cAmbientLightScore }}</b>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="row vertical-align">
			<div class="col-xs-2">
				Naloga poti/ceste
			</div>
			<div class="col-xs-8">
				<select class="form-control" v-model="roadDifficulty" required>
					<option value="0">Zelo zahtevno</option>
					<option value="1">Zahtevno</option>
					<option value="2">Enostavno</option>
				</select>
			</div>
			<div class="col-xs-1 center-middle">
				<b>{{ mRoadDifficultyScore }}</b>
			</div>
			<div class="col-xs-1 center-middle">
				<b>{{ cRoadDifficultyScore }}</b>
			</div>
		</div>
	</div>

	<hr>

	<div class="form-group">
		<div class="row vertical-align">
			<div class="col-xs-2">
				<b>Rezultat M:</b>
			</div>
			<div class="col-xs-8">
				<span v-html="mClassStr"></span>
			</div>
			<div class="col-xs-1 center-middle">
				<span> Skupaj</span><br>
				<b>{{ mVWS }}</b>
			</div>

		</div>
	</div>
	<hr>

	<div class="form-group">
		<div class="row vertical-align">
			<div class="col-xs-2">
				<b>Rezultat C:</b>
			</div>
			<div class="col-xs-8">
				<span v-html="cClassStr"></span>
			</div>
			<div class="col-xs-1 center-middle">

			</div>
			<div class="col-xs-1 center-middle">
				<span> Skupaj</span><br>
				<b>{{ cVWS }}</b>
			</div>
		</div>
	</div>

</div>

</body>

<script src="libs/vue.js"></script>
<script src="libs/jquery.min.js"></script>
<script src="libs/bootstrap/bootstrap.min.js"></script>
<script src="libs/bootbox.min.js"></script>
<script src="libs/lodash.min.js"></script>

<script src="mainPageController.js"></script>

</html>